<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header class="head"><%= header %></header>
    <div class="container">
        <form action="/login" method="post">
            <div class="field email-field">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="field password-field">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <button class="login-btn" type="submit">Login</button>
        </form>
        <button class="sign-up-btn"><a href="/sign-up">Create New Account</a></button>
    </div>
</body>
</html>